


.bodyContentHome {
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
}


/*
    HTML Cert Styling
*/

#retry {
    background-color: gold;

}

#certHeader {
    display: block;
    text-align: center;

}

#certHeader hr {
    border-top: 4px solid black;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#C1 {
    font-size: 40pt;
}

#C2 {
    font-size: 40pt;
}

#name {
    display: block;
    font-size: 40pt;
    margin-bottom: 0px;
    margin-top: 0px
}

#htmllist {
    list-style: none;
    padding-left: 0px;
}

#footerInfo {
    text-align: center;
}






/*
    PDF Cert Styling
*/

@media print {

    @page {
        size: landscape;
    }

/*    .no-print, .no-print * {
        display: none !important;
        vertical-align: top !important
    }*/

    #pdfHeader img {
/*        display: block;
        text-align: center;
        margin: auto;*/
        /*padding-right: 100px;*/
    }
    

    #pdfHeader {
        /*display: block;*/
        text-align: center;
        /*margin: auto;*/
    }

    /*#pdfHeader img {*/
        /*margin: auto;*/
        /*align-content: center;*/
        /*padding-right: 90px;*/
        /*display: block
    }*/

    #pdfHeader hr {
        border-top: 4px solid black;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    #C1 {
        font-size: 40pt;
    }

    #C2 {
        font-size: 40pt;
    }

    #pdfName {
        display: block;
        font-size: 40pt;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #pdfList {
        list-style: none;
        padding-left: 0px;
        text-align: left;
    }

    #pdfFooterInfo {
        text-align: center;
    }


}













