


.bodyContentHome {
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
}


/*
    HTML Cert Styling
*/

#retry {
    background-color: gold;

}

#certHeader {
    display: block;
    text-align: center;

}

#certHeader p{
    margin-bottom: 0rem;
}

#certHeader img {
    width: 100%;
}

#certHeader hr {
    border-top: 4px solid black;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#C1 {
    font-size: 40pt;
}

#C2 {
    font-size: 40pt;
}

#name {
    display: block;
    font-size: 35pt;
    margin-bottom: 0px;
    margin-top: 0px
}

#htmllist {
    list-style: none;
    padding-left: 0px;
}

#footerInfo {
    text-align: center;
}






/*
    PDF Cert Styling
*/

@media print {

    @page {
        size: landscape;
    }

    #pdfHeader {
        text-align: center;
    }

    #thisIsTo {
    font-size: 14pt;
    }


    #pdfHeader p{
        margin-bottom: 0rem;
    }

    #pdfHeader img {
        width: 75%;
        height: 75%;
    }

    #pdfHeader hr {
        border-top: 2px solid black;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    #C1 {
        font-size: 35pt;
    }

    #C2 {
        font-size: 35pt;
    }

    #pdfName {
        display: block;
        font-size: 30pt;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #pdfList {
        list-style: none;
        padding-left: 0px;
        text-align: left;
        font-size: 10pt;
    }

    #pdfFooterInfo {
        text-align: center;
        font-size: 10pt;
    }


}













